<div class="features">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h3> Public login </h3>
        <p>
          <a class="hb-button" href="/login/public">Public access</a>
        </p>
      </div>
      <div class="span6">
        <h3> Private login </h3>
        <p>
          <a class="hb-button" href="/login/private">Private access</a>
        </p>
      </div>
    </div>
  </div>
</div>

